# Xcode
.DS_Store
*.xcuserstate
*.swp
xcuserdata/
*.xccheckout
*.xcworkspace
*.xcscheme
GoogleService-Info.plist

# Ignored while project is undergoing
DerivedData/
build/
Pods/

# Other files
*.log
*.tmp
*.bak
*.swp